h1{
    text-align: center;
    color: orangered;
}
p{
    text-align:left;
    color:darkblue;
}
h2{
    text-align: center;
    color: forestgreen;
}
b{
    text-align: left;
    color: crimson;
}
/* Presentation Logic For Body Section */
body{
    background-image: url("https://th.bing.com/th/id/OIP.Ir7JmE-HU-tAZzUKS0wldAHaE3?w=261&h=176&c=7&r=0&o=5&pid=1.7");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}